.margin-around-input{
    margin: 0px 5px 0px 5px;
}

.margin-around-btn{
    margin: 5px 0px 5px 0px;
}

.login-btn{
    float: right;
    margin-top: 10px;
}

.login-form-wrap{
    float: right;
}

.page-title{
    font-size: 82px;
    background-color:#3f52e3;
    color: white;
    font-weight: 100;
    padding: 10px 0px 10px 5px;
}